<div class="container justify-content-center">

<div class="row">
  <div class="col-xs-12"><a class="anchor" id="organizers"></a>
    <h2>Organizers</h2>
  </div>
</div>

{% assign i = 1 %}


<div class="row" style="display: flex; justify-content: center; align-items: center;">

{% for org in site.data.organizers %}

{% assign new_row = i | modulo:5 %}

{% if new_row == 0 %}
</div>
<div class="row" style="display: flex; justify-content: center; align-items: center;">
{% endif %}

  <div class="col-sm-2">
    <a href="{{ org.url }}">
      <img class="people-pic" src="{{ org.photo | prepend:"img/organizers/" | prepend:site.baseurl }}">
    </a>
    <div class="people-name">
      <a href="{{ org.url }}">{{ org.name }}</a>
      <h6>{{ org.affiliation }}</h6>
    </div>
  </div>

  {% assign i = i | plus: 1 %}
  {% endfor %}
</div>

</div>